/* Custom layout begin */
.newStyle .bitech-stretchbox {
    background-color: black!important;
}

.newStyle .bitech-stretchbox div {
    background: none;
}

.newStyle .bitech-report-toolbar-container {
    background-color: rgba(21, 48, 135, 0.85) !important;
}

.newStyle .bi_filterbar_filterscontainer_clip_div {
    overflow: hidden;
}

.newStyle .bitech-report-view-only-mode .bi_filterbar_tile:hover .bi_filterbar_tile_heading,
.newStyle .bitech-report-presentation-mode .bi_filterbar_tile:hover .bi_filterbar_tile_heading {
    color: lightyellow;
}

.newStyle .bitech-report-toolbar-container .bi_filterbar_tile_body {
    color: lightgrey;
}

.newStyle .bitech-layout-content text {
    fill: white;
}

.newStyle text[dominant-baseline="text-before-edge"],
.newStyle text[dominant-baseline="middle"] {
    fill: rgba(255, 255, 255, 0.9);
}

.newStyle .bitech-report-toolbar-container .bi_filterbar_tile_heading,
.newStyle .bitech-layout-content label,
.newStyle .bi_filterbar_tile span,
.newStyle .oj-datagrid-cell,
.newStyle div.oj-datagrid-cell.bi_viz_gridview_data_cell.bi_viz_gridview_data_cell_total, .bi_viz_gridview_data_cell.bi_viz_gridview_data_cell_total {
    color: white;
}

.newStyle .oj-datagrid-header-label,
.newStyle .oj-datagrid-header-cell,
.newStyle .oj-datagrid-end-header-cell {
    color: rgba(255, 255, 255, 0.85) !important;
}

.newStyle .bi_vizshelloutercontainer {
    border: 1px solid white !important;
    border-radius: 12px !important;
    background-color: rgba(21, 49, 83, .85) !important;
}

.newStyle .bi_loadingContainer {
    background-color: transparent;
}

.newStyle .bi_loadingMsgContainer {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}
/* Custom layout end */