/* Custom layout begin */
.myBlack .bitech-stretchbox {
    background-color: black!important;
}

.myBlack .bitech-stretchbox div {
    background: none;
}

.myBlack .bitech-report-toolbar-container {
    background-color: rgba(21, 48, 135, 0.85) !important;
}

.myBlack .bi_filterbar_filterscontainer_clip_div {
    overflow: hidden;
}

.myBlack .bitech-report-view-only-mode .bi_filterbar_tile:hover .bi_filterbar_tile_heading,
.myBlack .bitech-report-presentation-mode .bi_filterbar_tile:hover .bi_filterbar_tile_heading {
    color: lightyellow;
}

.myBlack .bitech-report-toolbar-container .bi_filterbar_tile_body {
    color: lightgrey;
}

.myBlack .bitech-layout-content text {
    fill: white;
}

.myBlack text[dominant-baseline="text-before-edge"],
.myBlack text[dominant-baseline="middle"] {
    fill: rgba(255, 255, 255, 0.9);
}

.myBlack .bitech-report-toolbar-container .bi_filterbar_tile_heading,
.myBlack .bitech-layout-content label,
.myBlack .bi_filterbar_tile span {
    color: white;
}

.myBlack .oj-datagrid-header-label,
.myBlack .oj-datagrid-header-cell,
.myBlack .oj-datagrid-end-header-cell {
    color: rgba(255, 255, 255, 0.85) !important;
}

.myBlack .bi_vizshelloutercontainer {
    border: 1px solid white !important;
    border-radius: 12px !important;
    background-color: rgba(21, 49, 83, .85) !important;
}

.myBlack .bi_loadingContainer {
    background-color: transparent;
}

.myBlack .bi_loadingMsgContainer {
    border-radius: 100%;
    width: 130px;
    height: 130px;
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
}
/* Custom layout end */